.popup-wrapper {
    display: none;
}

.popup-overlay-info {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-form-info {
    position: absolute;
    width: 760px;
    background-color: #fff;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 6px;
}

.popup-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.popup-header__label {
    font-size: 16px;
    font-weight: 600;
    align-self: flex-end;
    margin-left: 16px;
}

.popup-header__cancel {
    width: 30px;
    height: 30px;
    margin: 10px;
    background: url('../../content/icon/x.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popup-body {
    flex: 1;
    display: flex;
}

/*--------------POPUP AVATAR--------------------- */
.popup-avatar {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.popup-avatar__img {
    width: 150px;
    height: 150px;
    background-image: url('../../content/img/default-avatar.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.popup-avatar__desc {
    text-align: center;
    font-size: 12px;
}

/* -------------POPUP INFOR-------------------------*/
.popup-infor {
    flex: 1;
    height: 100%;
}

.underline-form {
    margin-top: 6px;
    width: 60px;
    height: 3px;
    background-color: var(--underline-label-color);
    border-radius: 10px;

}

/* -------------POPUP COMMON INFOR */
.popup-infor__common {
    margin-top: 18px;
}

.popup-infor__title::after {
    content: "";
    display: block;
    margin-top: 6px;
    width: 60px;
    height: 3px;
    background-color: var(--underline-label-color);
    border-radius: 10px;
}

.popup-infor__list {
    display: flex;
    flex-wrap: wrap;
}

.popup-infor__item {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-right: 10px;
    margin-top: 12px;
}

.popup-infor__item.noi-cap {
    flex-basis: 100%;
}

.popup-infor__item.noi-cap .popup-infor__input {
    width: calc(50% - 5px);
}

/* .popup-infor__item.email {
    padding-right: 10px;
} */

/* .popup-infor__list .popup-infor__item:nth-child(2n + 1) {
    padding-right: 10px;
} */

.popup-infor__input {
    margin-top: 4px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #bbb;
    border-radius: 3;
    border-radius: 4px;
    outline: none;
}

.popup-infor__input:focus {
    border: 1px solid #019160;
}


/* -------------POPUP WORKING INFOR */
.popup-infor__working {
    margin-top: 20px;
}


/* -------------POPUP FOOTER */

.popup-footer {
    height: 65px;
    background-color: #eee;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.popup-btn-cancel {
    width: 100px;
    height: 40px;
    margin-right: 8px;
}

.popup-btn-cancel,
.popup-btn-save {
    font-size: 14px;
    cursor: pointer;
}

.popup-btn-save {
    margin-right: 8px;
}

.popup-save-icon {
    margin-right: 6px;
}

/* SLIDE */

.slidecontainer {
    text-align: center;
    margin: 20px 0;
}

.slide-label {
    display: block;
}

.btn-delete {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    display: none;
    cursor: pointer;
}

/* CONFIRM DELETE */
.popup-overlay--confirm {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.confirm-delete {
    width: 340px;
    height: 170px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-delete__text {
    font-size: 18px;
    margin-top: 20px;
    align-self: center;
}

.confirm-delete__text::after {
    content: "";
    display: block;
    width: 160px;
    height: 4px;
    background-color: #019160;
    border-radius: 5px;
    margin: 10px auto;
}

.confirm-button__wrapper {
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.confirm-button {
    width: 100px;
    height: 40px;
    margin-bottom: 18px;
    cursor: pointer;
}

.employee-infor-delete {
    display: block;
    font-size: 20px;
    margin: auto;
    margin-top: 0;
}

.confirm-delete-multi {
    background-color:#fff;
    height: 300px;
    width: 380px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.employees-list-delete {
    list-style: none;
    display: block;
    margin: auto;
    height: 150px;
    overflow-y: auto;
}

.employees-item-delete {
    font-size: 20px;
    padding: 2px 16px;
}

#input-salary {
    position: absolute;
    bottom: 20px;
    right: 18px;
    transform: translateY(50%);
    font-style: italic;
}

#employee__basesalary {
    padding-right: 50px;
    text-align: right;
}