.wrapper-dropdown {
    width: 500px;
    height: 500px;
    background-color: #ddd;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bbb;
    position: relative;
    margin: auto;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    ;
}

.dropdown-value {
    padding: 10px 8px;
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.dropdown-value i {
    position: relative;
    top: 2px;
}

.dropdown-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    z-index: 10000;
}

.dropdown-item {
    padding: 10px 8px;
    cursor: pointer;
}


.dropdown-item.active {
    background-color: #019160;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #e1e1e1;
    color: #000;
}



.icon-down {
    /* display: none; */
}

.icon-up {
    display: none;
}

#dropdown-input:checked~.dropdown-list {
    display: block;
}

#dropdown-input:checked~.dropdown-value .icon-down {
    display: none;
}

#dropdown-input:checked~.dropdown-value .icon-up {
    display: block;
}


/* ghi de */

.icon-down,
.icon-up,
.dropdown-list {
    display: none;
}

.icon-down.show,
.icon-up.show,
.dropdown-list.show {
    display: block;
}

.dropdown-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.dropdown--restaurant {
    width: 200px;
    margin: 0 0 0 10px;
}

.focus-dropdown {
    border: 1px solid #019160 !important;
}