<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/combobox.css">
    <title>Combobox</title>
</head>
<body>
    <div class="wrapper">
        <div class="combobox combobox--position">
            <input type="text" name="" class="combobox__input combobox__input--position">
            <div class="combobox__input-cancel">
                <i class="fas fa-times-circle"></i>
            </div>
            <div class="combobox__dropdown combobox__dropdown--position">
                <i class="fas fa-chevron-down combobox__icon"></i>
            </div>
            <ul class="combobox__list combobox__list--position">
            </ul>
        </div> 
    </div>    
    <div class="wrapper">
        <div class="combobox combobox--restaurant">
            <input type="text" name="" class="combobox__input combobox__input--restaurant">
            <div class="combobox__input-cancel">
                <i class="fas fa-times-circle"></i>
            </div>
            <div class="combobox__dropdown combobox__dropdown--restaurant">
                <i class="fas fa-chevron-down combobox__icon"></i>
            </div>
            <ul class="combobox__list combobox__list--restaurant">
            </ul>
        </div> 
    </div> 
    <script src="./js/combobox.js"></script>
</body>
</html>