<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/popup.css">
    <title>Popup</title>
</head>
<body>
    <div class="popup popup--warn">
        <div class="popup-overlay"></div>
        <div class="popup-container">
            <div class="popup-header">
                <span class="popup-title">Đóng Form thông tin chung</span>
                <div class="popup-cancel">
                    <img src="../../content/icon/x.svg" alt="">
                </div>
            </div>
            <div class="popup-body">
                <div class="popup-icon">
                    <i class="fas fa-exclamation-triangle"></i> 
                </div>
                <span class="popup-content">
                    Bạn có chắc muốn đóng form nhập <b>"Thông tin chung của thủ tục 603"</b> hay không?
                </span>
            </div>
            <div class="popup-footer">
                <button class="popup-btn">Tiếp tục nhập</button>
                <button class="popup-btn popup-btn--positive">Đóng</button>
            </div>
        </div>
    </div> 
</body>
</html>