@import url("./base/button.css");
@import url("../css/base/resetcss.css");
@import url("base/customizeScrollbar.css");
@import url("./base/placeholderItalic.css");
@import url("./common/common.css"); 

:root {
    --primary-color: #FFF;
    --border-color: #ccc;
}

body {
    font-family: MISAGoogleSan;
    font-size: 13px;
    background-color: var(--primary-color);
    height: 100vh;
    min-width: 1200px;
}

@font-face {
    font-family: MISAGoogleSan;
    src: url('../assets/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISAGoogleSan-Bold;
    src: url('../assets/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISAGoogleSan-Italic;
    src: url('../assets/font/GoogleSans-Italic.otf');
}





