:root {
    --overlay-background: rgba(0, 0, 0, 0.3);
    --dialog-color: #fff;
    --icon-color--warn: #FFC400;
    --icon-color--error: #EA2B2B;
}

.dialog {
    display: none;
}
.dialog.dialog--show {
    display: block;
}
.dialog__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--overlay-background);
}

.dialog__container {
    position: fixed;
    width: 400px;
    height: 180px;
    background-color: var(--dialog-color);
    border-radius: 4px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow: hidden;
}
    /* 1. DIALOG HEADER */
    .dialog__header {
        display: flex;
        justify-content: space-between;
        height: 48px;
    }
        .dialog__title {
            align-self: flex-end;
            margin: 0 24px;
            font-weight: bold;
        }
        .dialog__cancel {
            width: 24px;
            height: 24px;
            padding: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
        }
        .dialog__cancel:hover {
            background-color: #E5E5E5;
        }
            .dialog__cancel img {
                width: 100%;
            }

    /* 2. DIALOG BODY */
    .dialog__body {
        display: flex;
        justify-content: flex-start;
        margin: -20px 24px;
    } 
        .dialog__icon {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 20px;
            margin-right: 10px;
            background-color: #F4F4F4;
            display: flex;
            justify-content: center;
        }
            .dialog__icon i {
                line-height: 36px;
            }

            .dialog.dialog--warn .dialog__icon i {
                color: var(--icon-color--warn);
            }
            .dialog.dialog--error .dialog__icon i {
                color: var(--icon-color--error);
            }
        .dialog__content {
            font-size: 13px;
            overflow-wrap: anywhere;
        }

    /* 3. DIALOG FOOTER */
    .dialog__footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        background-color: #F4F4F4;
    }   
        .dialog__btn {
            height: 40px;
            min-width: 100px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            background-color: #F4F4F4;
            margin-right: 10px;
            padding: 0 14px;
            transition: all 0.2s ease;
        }
        .dialog__btn:hover {
            background-color: #E5E5E5;
        }
        .dialog__btn.dialog__btn--positive {
            color: #fff;
            background-color: #019160;
            margin-right: 24px;
        }        
        .dialog__btn.dialog__btn--positive:hover {
            background-color: #01B075;
        }
        .dialog__btn.dialog__btn--negative {
            color: #fff;
            background-color: #F65454;
            margin-right: 24px;
        }
        .dialog__btn.dialog__btn--negative:hover {
            background-color: #f65454d5;
        }
        .dialog__btn.dialog__btn--warn {
            color: #fff;
            background-color: #FFC400;
            margin-right: 24px;
        }
        .dialog__btn.dialog__btn--warn:hover {
            background-color: #ffc400c2;
        }