
.dropup {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bbb;
    position: relative;
    margin: 0;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    user-select: none;
    cursor: pointer;
}
/* FOCUS DROPDOWN */
.dropup.dropup--show {
    border: 1px solid #019160 !important;
}

     /* 1. DROPDOWN VALUE  */
    .dropup-value {
        padding: 10px 8px;
        display: block;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
        /* 1.1 DROPDOWN VALUE i  */
        .dropup-value i {
            position: relative;
            top: 2px;
        }

    /* 2. DROPDOWN LIST */
    .dropup-list {
        margin: 0;
        padding-left: 0;
        list-style: none;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(100% + 2px);
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        overflow: hidden;
        z-index: 10000;
    }

    .dropup.dropup--show .dropup-list {
        display: block;
    }
        /* 2.2. DROPDOWN ITEM */
        .dropup-item {
            padding: 10px 8px;
            cursor: pointer;
        } 

        .dropup-item.dropup-item--active {
            background-color: #019160;
            color: #fff;
        }

        .dropup-item:hover {
            background-color: #e1e1e1;
            color: #000;
        }
            /* 2.2.1.DROPDOWN ICON DOWN */
            .icon-up {
                transform: rotate(0);
                transition: all 0.3s ease;
                line-height: 40px !important;
            }

            .dropup.dropup--show .icon-up {
                transform: rotate(180deg);
                transition: all 0.3s ease;
            }

            /* 2.2.2. DROPDOWN ICON CHECK */
            .dropup-icon {
                visibility: hidden;
                margin-right: 5px;
            }

            .dropup-item.dropup-item--active .dropup-icon {
                visibility: visible;
            }
    
    /* WRAPPER */
    .dropup-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        width: 100%;
    } 




/* DROPDOWN HANDLE BY INPUT CHECKBOX */
/* #dropup-input:checked~.dropup-list {
    display: block;
}

#dropup-input:checked~.dropup-value .icon-up {
    display: none;
}

#dropup-input:checked~.dropup-value .icon-up {
    display: block;
} */


