:root {
    --overlay-background: rgba(0, 0, 0, 0.3);
    --popup-color: #fff;
    --icon-color--warn: #FFC400;
    --icon-color--error: #EA2B2B;
}

.popup-lib {
    display: none;
}
.popup-overlay-lib {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--overlay-background);
}

.popup-container-lib {
    position: fixed;
    width: 400px;
    height: 180px;
    background-color: var(--popup-color);
    border-radius: 4px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow: hidden;
}
    /* 1. POPUP HEADER */
    .popup-header-lib {
        display: flex;
        justify-content: space-between;
        height: 48px;
    }
        .popup-title-lib {
            align-self: flex-end;
            margin: 0 24px;
            font-weight: bold;
        }
        .popup-cancel-lib {
            width: 24px;
            height: 24px;
            padding: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
        }
        .popup-cancel-lib:hover {
            background-color: #E5E5E5;
        }
            .popup-cancel-lib img {
                width: 100%;
            }

    /* 2. POPUP BODY */
    .popup-body-lib {
        display: flex;
        justify-content: flex-start;
        margin: -20px 24px;
    } 
        .popup-icon-lib {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 20px;
            margin-right: 10px;
            background-color: #F4F4F4;
            display: flex;
            justify-content: center;
        }
            .popup-icon-lib i {
                line-height: 36px;
            }

            .popup-lib.popup--warn-lib .popup-icon-lib i {
                color: var(--icon-color--warn);
            }
            .popup-lib.popup--error-lib .popup-icon-lib i {
                color: var(--icon-color--error);
            }
        .popup-content-lib {
            font-size: 13px;
            overflow-wrap: anywhere;
        }

    /* 3. POPUP FOOTER */
    .popup-footer-lib {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        background-color: #F4F4F4;
    }   
        .popup-btn-lib {
            height: 40px;
            min-width: 100px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            background-color: #F4F4F4;
            margin-right: 10px;
            padding: 0 14px;
            transition: all 0.2s ease;
        }
        .popup-btn-lib:hover {
            background-color: #E5E5E5;
        }
        .popup-btn-lib.popup-btn--positive-lib {
            color: #fff;
            background-color: #019160;
            margin-right: 24px;
        }        
        .popup-btn-lib.popup-btn--positive-lib:hover {
            background-color: #01B075;
        }
        .popup-btn-lib.popup-btn--negative-lib {
            color: #fff;
            background-color: #F65454;
            margin-right: 24px;
        }
        .popup-btn-lib.popup-btn--negative-lib:hover {
            background-color: #f65454d5;
        }
        .popup-btn-lib.popup-btn--warn-lib {
            color: #fff;
            background-color: #FFC400;
            margin-right: 24px;
        }
        .popup-btn-lib.popup-btn--warn-lib:hover {
            background-color: #ffc400c2;
        }