/* 2.2. TABLE EMPLOYEE*/
.table-wrapper {
    height: calc(100% - 65px);
    overflow-y: auto;
    overflow-x: hidden;
}

.table-employee {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0 16px;
}
    /* 2.1.1. TABLE EMPLOYEE HEAD */
    .table-employee__head {
        position: sticky;
        top: 0;
        z-index: 10;
        background: #fff;
        height: 40px;
        font-size: 15px;
        padding: 0 4px;
        text-align: left;
    }
        .table-employee__head th {
            border-bottom: 1px solid #bbb;
        }
        /* 2.1.1.2. TABLE EMPLOYEE HEADER */
        th, td {
            padding: 0 10px;
        }

    /* 2.1.2. TABLE EMPLOYEE BODY */
    .table-employee__body {
        cursor: pointer;
    }
        /* 2.1.2.1. TABLE EMPLOYEE ROW */
        .table-employee__row {
            height: calc((100vh - 272px) / 10);
            background-color: var(--primary-color);
        }

        .table-employee__row:hover {
            background-color: var(--table-row-hover) !important;
        }

        .table-employee__row td {
            border-bottom: 1px solid #bbb;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        } 

        .table-employee__row.table-employee__row--selected {
            background-color: #cacaca;
        }
            .table-employee__checkbox {
                height: 20px;
                width: 20px;
                background: var(--checkbox-color) !important;
                cursor: pointer;
            }

            .table-employee__checkbox:checked {
                background-color: var(--checkbox-color);
            }
        