
.dropup {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bbb;
    position: relative;
    margin: 0;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    user-select: none;
    cursor: pointer;
}
/* FOCUS DROPUP */
.dropup.dropup--show {
    border: 1px solid #019160 !important;
}
    /* 1. DROPUP HEADER */
    .dropup__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        width: 100%;
    } 
        /* 1.1. DROPUP VALUE  */
        .dropup__value {
            padding: 10px 8px;
            display: block;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        } 

    /* 2. DROPUP LIST */
    .dropup__list {
        margin: 0;
        padding-left: 0;
        list-style: none;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(100% + 2px);
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        overflow: hidden;
        z-index: 10000;
    }

    .dropup.dropup--show .dropup__list {
        display: block;
    }
        /* 2.2. DROPUP ITEM */
        .dropup__item {
            padding: 10px 8px;
            cursor: pointer;
        } 

        .dropup__item.dropup__item--active {
            background-color: #019160;
            color: #fff;
        }

        .dropup__item:hover {
            background-color: #e1e1e1;
            color: #000;
        }
            /* 2.2.1.DROPUP ICON DOWN */
            .dropup__icon-up {
                transform: rotate(0);
                transition: all 0.3s ease;
                line-height: 40px !important;
            }

            .dropup.dropup--show .dropup__icon-up {
                transform: rotate(180deg);
                transition: all 0.3s ease;
            } 
    



