:root {
    --table-head-height: 40px;
}

.table-wrapper {
    height: calc(100% - 65px);
    overflow: auto;
}
.table-wrapper.table--loading {
    overflow: hidden;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0 16px;
}
    /* 1. TABLE HEAD */
    .table__head {
        position: sticky;
        top: 0;
        z-index: 10;
        background: #fff;
        height: var(--table-head-height);
        font-size: 15px;
        padding: 0 4px;
        text-align: left;
        white-space: nowrap;
    }
        .table__head-checkbox {
            width: 40px;
        }
        .table__head-index {
            width: 50px;
        }
        .table__head th {
            border-bottom: 1px solid #bbb;
        }
        th, td {
            padding: 0 10px;
        }
            .table__checkbox {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }

    /* 2. TABLE BODY */
    .table__body {
        cursor: pointer;
    }
        /* 2.1. TABLE ROW */
        .table__row {
            height: calc((100vh - 272px) / 10);
            background-color: var(--primary-color);
        }
        .table__row:hover {
            background-color: var(--table-row-hover) !important;
        }
        .table__row td {
            border-bottom: 1px solid #bbb;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        } 
        .table__row.table__row--select {
            background-color: #cacaca;
        }
        /* 2.2. TABLE BODY LOADING */
        .table__loading {
            position: absolute;
            top: var(--table-head-height);
            right: 0;
            left: 0;
            height: calc(100vh - var(--header-height) - var(--control-height) - var(--pagination-height));
            background-color: #FFF;
            display: none;
        }
        .table--loading .table__loading {
            display: block;
        }
        .table__loading-img {
            position: relative; 
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        