#content {
    flex: 1;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}


.content__header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

/* CONTENT HEADER LEFT */
.content__header-left {}

/* ----------------------------------------------------- TABLE ----------------------------------------------------------------------------*/
.table-name {
    font-size: 22px;
    font-weight: 600;
}

.table-filter {
    margin-top: 16px;
    width: 600px;
    height: var(--top-header-height);
    display: flex;
}

.table-search {
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 14px;
}

.table-search__icon {}

.table-search__icon img {
    padding-left: 16px;
    padding-right: 8px;
}

.table-search__input {
    flex: 1;
    height: 100%;
    border: transparent;
    border-radius: 4px;
    outline: none;
}

.table-filter__department {
    width: 200px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 12px;
    user-select: none;
    position: relative;
    cursor: pointer;
}

.department-list {
    z-index: 11;
    background-color: #fff;
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.table-filter__department.show {
    border: 1px solid #019160;
}

.table-filter__department.show .department-list {
    display: block;
}

.table-filter__position.show {
    border: 1px solid #019160;
}

.table-filter__position.show .department-list {
    display: block;
}


.department-list__item {
    height: 40px;
    line-height: 40px;
    position: relative;
    padding-left: 30px;
}

.check-item {
    display: none;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.department-list__item.active .check-item {
    display: inline;
}

.department-list__item.active {
    background-color: #019160;
    color: #fff;
}

.department-list__item:hover {
    background-color: #E9EBEE;
    color: #000;
}

.select-icon {
    display: none;
}

.select-icon.active {
    display: block;
}

.table-filter__position {
    width: 200px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 12px;
    user-select: none;
    position: relative;
    cursor: pointer;
}

/* CONTENT HEADER RIGHT */
.content__header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-addemployee {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button__img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.button__name {
    font-size: 14px;
}

.refresh img {
    padding: 10px 12px;
    border: 1px solid #bbb;
    margin-top: 4px;
    border-radius: 4px;
}

.refresh img:hover {
    background-color: #eee;
    cursor: pointer;
}


.content-container {
    height: calc(100vh - var(--top-header-height) - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* TABLE */

.table-wrapper {
    height: calc(100% - 65px);
    overflow-y: auto;
    overflow-x: hidden;
}

.table-employee {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}

.table-employee__head {
    /* position: -webkit-sticky;  */
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
}

.table-employee__body {
    cursor: pointer;
}

.table-employee__row {
    height: calc((100vh - 272px) / 10);
}

.table-employee__row:hover {
    background-color: var(--table-row-hover) !important;
}

.table-employee__row:focus {}

.table-employee__row td {
    border-bottom: 1px solid #bbb;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-employee__row:nth-child(odd) {
    background-color: #e9e9e9;
}

.table-employee__header {
    background-color: #ffffff;
    border-bottom: 1px solid #bbb;
    text-align: start;
    height: 40px;
    padding-left: 10px;
    white-space: nowrap;
}

.table-employee__header:nth-child(1) {
    width: 30px;
}

.table-employee__header:nth-child(2) {
    width: 90px;
}

.table-employee__header:nth-child(3) {
    width: 124px;
}

.table-employee__header:nth-child(4) {
    width: 62px;
}

.table-employee__header:nth-child(5) {
    width: 80px;
}

.table-employee__header:nth-child(6) {
    width: 100px;
}

/* .table-employee__header:nth-child(7) {
    width: 150px;
}

.table-employee__header:nth-child(8) {
    width: 100px;
}

.table-employee__header:nth-child(9) {
    width: 180px;
}

.table-employee__header:nth-child(10) {
    width: 120px;
} */

.table-employee__code {}

.table-employee__name {}

.table-employee__gender {}

.table-employee__dob {}

.table-employee__phone {}

.table-employee__email {}

.table-employee__position {}

.table-employee__department {}

.table-employee__salary {
    text-align: right;
    padding-right: 20px;
}

.table-employee__status {}













/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--pagination-height);
    padding: 20px;
}

.pagination__text {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    flex-basis: 30%;
}

.pagination__text:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.pagination__list {
    list-style: none;
    display: flex;
    flex-basis: 30%;
    justify-content: center;
}

.pagination__item {
    width: 24px;
    height: 24px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pagination-item-color);
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__item-img {
    width: 16px;
    height: 16px;
}

.pagination__item.active {
    background-color: var(--pagination-active-color);
    color: var(--text-color);
}

.pagination__item:hover {
    color: #000;
    background-color: #ccc;
}

.pagination__item:nth-child(1) .pagination__item-icon {
    width: 100%;
    height: 100%;
    background-image: url('../../content/icon/btn-firstpage.svg');
}

.input__number {
    outline: none;
    width: 40px;
    margin-left: 10px;
    border: 0;
}

.input__number-wrapper {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}