.table-filter__department {
    padding: 0;
    width: 200px;
    margin-top: 0;
}

.table-filter__position {
    padding: 0;
    width: 200px;
    margin-top: 0;
}

.dropdown-header-wrapper {
    width: 100%;
}

.dropdown-icon {
    visibility: hidden;
    margin-right: 5px;
}

.dropdown-item.active .dropdown-icon {
    visibility: visible;
}