<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/popup.css">
    <title>Popup</title>
</head>
<body>
    <div class="wrapper">
        <button id="btn-error-lib" class="popup-btn-lib popup-btn--negative-lib">Popup báo lỗi</button>
        <button id="btn-warn-lib" class="popup-btn-lib popup-btn--warn-lib">Popup cảnh báo</button>
        <button id="btn-info-lib" class="popup-btn-lib popup-btn--positive-lib">Popup thông tin</button>
    </div>
    <div class="popup-lib">
        <div class="popup-overlay-lib"></div>
        <div class="popup-container-lib">
            <div class="popup-header-lib">
                <span class="popup-title-lib"></span>
                <div class="popup-cancel-lib">
                    <img src="../../content/icon/x.svg" alt="">
                </div>
            </div>
            <div class="popup-body-lib">
                <div class="popup-icon-lib">
                    <i class="fas fa-exclamation-triangle"></i> 
                </div>
                <span class="popup-content-lib">
                    
                </span>
            </div>
            <div class="popup-footer-lib">
                <button id="popup-btn-continue-lib" class="popup-btn-lib"></button>
                <button id="popup-btn-cancel-lib" class="popup-btn-lib">Đóng</button>
            </div>
        </div>
    </div> 
    <script src="../../lib/js/jquery-3.6.0.min.js"></script>
    <script src="./js/popup.js"></script>
</body>
</html>