<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/toastMessage.css">
    <title>TOAST MESSAGE</title>
</head>
<body>
    <div class="wrapper">
        <!-- ERROR -->
        <div class="toast-message-list"> 
        </div> 
        <div class="button-wrapper">
            <button class="btn-toast btn-toast--success">Thành công</button>
            <button class="btn-toast btn-toast--error">Lỗi</button>
            <button class="btn-toast btn-toast--warn">Cảnh báo</button>
            <button class="btn-toast btn-toast--info">Thông tin</button>
        </div>
    </div>
    <script src="../../lib/js/jquery-3.6.0.min.js"></script>
    <script src="js/toastMessage.js"></script> 
</body>
</html>
